/************************************

*    Droga5 Banner CSS
*    Adrian Velazquez
*    Junior Interactive Developer
*    May - 2016
    --------------------
*    avelazquez@droga5.com

************************************/
/*
.ref{
opacity: .25;
}
*/
#banner {
overflow: hidden;
cursor: pointer;
background-color: #e20074;
border: 1px solid black;
width: 300px;
height: 250px;
position: absolute;
transform: translate3d(0px, 0px, 0px);
margin: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.dimensions {
width: 300px;
height: 250px;
position: absolute;
top: 0;
left: 0;
}
/*
  apply this class to retina sized graphics
  be sure to change the dimensions to double
  the width and height of your banner's actual
  dimensions
*/
.retina {
background-size: 300px 250px;
width: 300px;
height: 250px;
}
.center-horiz {
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}
/* hides all elements until called in the javascript */
.hidden{
opacity:0;
}
.logo{
background-image: url(../images/logo.png);
background-size: cover;
width: 98px;
height: 17px;
position: absolute;
top: 15px;
left: 23px;
}
.txt, .endFrame{
width:300px;
height:250px;
position: relative;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.txt1{
background-image: url(../images/txt1.png);
background-size: cover;
width: 198px;
height: 31px;
position: absolute;
top: 90px;
left: 25px;
}
.txt2{
background-image: url(../images/txt2.png);
background-size: cover;
width: 233px;
height: 32px;
position: absolute;
top: 127px;
left: 43px;
}
.txt3{
background-image: url(../images/txt3.png);
background-size: cover;
width: 263px;
height: 32px;
position: absolute;
top: 138px;
left: 11px;
}
.txt4{
background-image: url(../images/txt4.png);
background-size: cover;
width: 143px;
height: 31px;
position: absolute;
top: 175px;
left: 56px;
}
.dude{
background-image: url(../images/dude.png);
background-size: cover;
width: 494px;
height: 250px;
position: absolute;
top: 0px;
left: -101px;
}
.endFrame{
background-color: #e20074;
}
#textContainer,
#buttonContainer {
width: 300px;
height: 250px;
position: absolute;
}
/* masks for final frame */
.textMask {
clip: rect(10px, 290px, 155px, 10px);
}
.txt5{
background-image: url(../images/txt5.png);
background-size: cover;
width: 237px;
height: 104px;
position: absolute;
top: 38px;
left: -4px;
}
/* masks for final frame */
.buttonMask {
clip: rect(150px, 290px, 240px, 10px);
}
.button {
background-image: url(../images/cta-switchtoday.svg);
background-size: cover;
width: 237px;
height: 23px;
position: absolute;
margin: 164px 20px 0 20px;
left: 10px;
top: -12px;
}
#legal{
font-size: 6pt;
font-family: sans-serif;
color: #fff;
text-align: center;
top: 220px;
padding: 5px;
position: relative;
opacity: 0.75;
}
