body {
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 728px;
    height: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

#banner {
    width: 728px;
    height: 90px;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
}


/* logos */

.logo-big, .logo-small {
    position: absolute;
    background: url('logo-scion.svg') no-repeat;
}

.logo-big {
    width: 54px;
    height: 38px;
    left: 662px;
    top: 26px;
}


#hashtag, #hashtag-grey {
    position: absolute;
    height: 10px;
    width: 39px;
    top: 73px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#hashtag {
    background: url('txt-hashtag.svg') no-repeat;
    opacity: 0.4;
}

#hashtag-grey {
    position: absolute;
    background: url('txt-hashtag-grey.svg') no-repeat;
}



/* panels */
.white, .blue, .red {
    position: absolute;
    width: 800px;
    height: 90px;
    transform: skew(-20deg);
    margin-left: -400px;
    left: 50%;
    /*visibility: hidden;*/
}


.blue {
    /*background-color: #1d4e8f;*/
background: #1d4e8f; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #2b6bce 0%, #1d4e8f 80%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #2b6bce 0%,#1d4e8f 80%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #2b6bce 0%,#1d4e8f 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6bce', endColorstr='#1d4e8f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.red {
    /*background-color: #d9272e;*/
    background: #d9272e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fe0405 0%, #d9272e 50%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #fe0405 0%,#d9272e 50%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #fe0405 0%,#d9272e 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0405', endColorstr='#d9272e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.white {
    /*background-color: #d9272e;*/
    background: #d9272e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  white 0%, #e6e6e6 728%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  white 0%,#e6e6e6 728%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  white 0%,#e6e6e6 728%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* text */
.clipped {
    clip: rect(0px, 800px, 240px, 0px);
    /*background-color: rgba(255, 0, 0, 0.2);*/
}

#text1, #text2, #text3, #text4, #text5 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#mask1, #mask2, #mask3, #mask4 {
    overflow: hidden;
    width: 728px;
    height: 240px;
    position: absolute;
}
#text1 {
    background: url('txt1.svg') no-repeat;
    width: 195px;
    height: 28px;
    top: 27px;
}

#text2 {
    background: url('txt2.svg') no-repeat;
    width: 164px;
    height: 49px;
    top: 18px;
}

#text3 {
    background: url('txt3.svg') no-repeat;
    width: 128px;
    height: 13px;
    top: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#text4 {
    background: url('txt4.svg') no-repeat;
    width: 128px;
    height: 11px;
    top: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#text5 {
    background: url('txt5.svg') no-repeat;
    width: 262px;
    height: 10px;
    top: 19px;
}


/* cars */
.car-body, .wheel, .shadow, #car1, #car2, #car3, #car4, #car5 {
    background: url('sprites.png') no-repeat;
}

/* iM */
#iM {
    position: absolute;
    width: 176px;
    height: 61px;
    left: 53px;
    top: 15px;
}
#iM .car-body {
    width: 172px;
    height: 55px;
    background-position: 0 -149px;
}

#iM .wheel {
    position: absolute;
    background-position: -184px -149px;
    width: 27px;
    height: 27px;
    top: 34px;
}

#iM .rear {
    left: 16px;
}
#iM .front {
    left: 126px;
}

.shadow {
    position: absolute;
    background-position: 0 0;
    width: 172px;
    height: 8px;
    left: 0;
    top: 53px;
    opacity: 0.6;
    /*background-blend-mode: multiply;*/
}



/* frs */
#frs {
    position: absolute;
    width: 190px;
    height: 66px;
    left: 52px;
    top: 20px;
}
#frs .car-body {
    width: 175px;
    height: 55px;
    background-position:  0 -15px;
}

#frs .wheel {
    position: absolute;
    background-position: -184px -15px   ;
    width: 26px;
    height: 26px;
    top: 28px;
}

#frs .rear {
    left: 16px;
}
#frs .front {
    left: 128px;
}

#frs .shadow {
    top: 50px;
}


/* iA*/

#iA {

    position: absolute;
    width: 185px;
    height: 63px;
    left: 43px;
    top: 13px;
}
#iA .car-body {
    width: 182px;
    height: 60px;
    background-position: 0 -82px;
}

#iA .wheel {
    position: absolute;
    background-position: -184px -82px;
    width: 27px;
    height: 27px;
    top: 36px;
}

#iA .rear {
    left: 22px;
}
#iA .front {
    left: 136px;
}

#iA .shadow {
    top: 55px;
}


/* end frame */

#endframe {
    position: absolute;
    width: 728px;
    height: 90px;

}

.cta {
    position: absolute;
    width: 119px;
    height: 37px;
    left: 514px;
    top: 27px;
    background-color: #1d4e8f;
    border-radius: 4px;
}
.cta-label {
    position: relative;
    background: url('txt-cta.svg') no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 13px;
    width: 89px;
    height: 13px;
}



/* GenOne logo */

.genone {
    position: absolute;
    background: url('logo-genone.svg') no-repeat;
    width: 185px;
    height: 55px;
    left: 14px;
    top: 18px;

}



/* disclaimer */

#disclaimer-btn {
    position: absolute;
    font-family: sans-serif;
    font-size: 0.4375em; /* 7pt */
    text-decoration: underline;
    color: #4f4f4f;
    text-align: center;
    left: 668px;
    top: 73px;
    z-index: 1000;
}
#disclaimer-panel{
    position: absolute;
    background-color: #ccc;
    width: 728px;
    height: 90px;
    top: 90px;
    z-index: 2000;
}

#disclaimer-panel p {
    margin: 0;
    padding: 5px 5px 5px 15px;
    font-family: sans-serif;
    font-size: 8px;
}
#disclaimer-x {
    width: 20px;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bolder;
    padding: 5px;
}


/* scion family */

#car1, #car2, #car3, #car4, #car5 {
    /*visibility: hidden;*/
    width: 100%;
    /*background-color: red;*/
}

.car-wrapper {
    width: 728px;
    height: 90px;
    position: absolute;
}

#car1 {
    position: absolute;
    background-position: -220px 0;
    width: 62px;
    height: 30px;
    left: 281px;
    top: 46px;
}

#car2 {
    position: absolute;
    background-position: -220px -35px;
    width: 63px;
    height: 35px;
    left: 328px;
    top: 43px;
}

#car3 {
    position: absolute;
    background-position: -220px -75px;
    width: 64px;
    height: 36px;
    left: 383px;
    top: 44px;
}
