html, body {
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 728px;
    height: 90px;
    background-color: #fff;
    margin: 100px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
#lines{
border-style: solid;
border-width: 1px;
border-color: #000;
width: 726px;
height: 88px;
background-color: rgba(0,0,0,0);
position: absolute;
}
#banner {
    width: 728px;
    height: 90px;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
}

/*.ref {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('ref5.jpg') no-repeat;
}
*/


/* logos */

.logo {
    position: absolute;
    background: url('text-sprites-opt.png') no-repeat;
    background-position: -210px -372px;
    width: 51px;
    height: 35px;
    left: 666px;
    top: 28px;
}



/* panels */
.background {
    position: absolute;
    width: 728px;
    height: 90px;
}


#mask1, #mask2, #mask3, #mask4, #mask5 {
    width: 950px;
    height: 375px;
    position: absolute;
    clip: rect(0, 950px, 375px, 0);
    /*background-color: pink;*/
}
.maskOutline {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 400px;

    background-color: rgba(255, 255, 255, 0);
    border-right: 4px solid #dbae10;
}

#bg1 {
    background: url('bg-1.jpg') no-repeat;
    background-size: contain;
}

#bg2 {
    background: url('bg-2.jpg') no-repeat;
    background-size: contain;
}

#bg3 {
    background: url('bg-3.jpg') no-repeat;
    background-size: contain;
}

#bg4 {
    background: url('bg-4.jpg') no-repeat;
    background-size: contain;
}

#bg5 {
    background: url('bg-5.jpg') no-repeat;
    background-size: contain;
}

#bg6 {
    background: url('bg-6.jpg') no-repeat;
    background-size: contain;
}


/* text */

.sprites {
    background: url('text-sprites-opt.png') no-repeat;
    display: block;
}

#text1, #text2, #text3, #text4, #text5, #endFrameText, #textSubhead {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
}

#text1 {
    width: 380px;
    height: 90px;
    top: 0px;
    left: -361px;
    background-position: 0px 0px;
}

#text2 {
    width: 196px;
    height: 85px;
    top: 7px;
    left: -522px;
    background-position: -69px -187px;
}
/*
#text3 {
    width: 195px;
    height: 77px;
    top: 87px;
    background-position: -6px -231px;
}
*/
#text4 {
    width: 260px;
    height: 40px;
    top: 25px;
    left: -427px;
    background-position: -43px -259px;
}

#text5 {
    width: 335px;
    height: 37px;
    top: 27px;
    left: 27px;
    background-position: -4px -294px;
}

#endFrameText {
    position: absolute;
    width: 337px;
    height: 90px;
    top: 0px;
    left: -422px;
    background-position: -22px -88px;
}

#textSubhead {
    position: absolute;
    width: 196px;
    height: 41px;
    top: 5px;
    left: 436px;
    background-position: -69px -328px;
}


/* end frame */

.cta {
    position: absolute;
    width: 126px;
    height: 45px;
    left: 522px;
    top: 32px;
    background: url('text-sprites-opt.png') no-repeat;
    background-position: -56px -371px;
    visibility: hidden;
}
