/*
    Droga5 Banner CSS
    Adrian Velazquez
    --------------------
    avelazquez@droga5.com
*/
/**********  Utilities  ***********/
/* set the dimensions of your banner here */
/* main container element for banner */
#banner {
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
}
.dimensions {
  width: 320px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
/*  apply this class to retina sized graphics
    be sure to change the dimensions to double the width and height of your banner's actrual dimensions */
.retina {
  background-size: 320px 50px;
  width: 320px;
  height: 50px;
}
#banner {
  width: 320px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
.hidden{
opacity:0;
}
.familyContainer {
  position: absolute;
}
.familyFrame {
  background-image: url(../images/frame.png);
  width: 320px;
  height: 50px;
  position: absolute;
  transform: translate(-25%, -25%);
  top:20px;
  left:180px;
}
.txt{
  background-image: url(../images/txt.png);
  position: absolute;
  width: 171px;
  height: 20px;
  background-size: cover;
  z-index: 1;
  top: 15px;
  left: 30px;
}
.endFrameBG{
  background-image: url(../images/endFrameBG.jpg);
  position: absolute;
}
.familyBigFrame{
  background-image: url(../images/familyBigFrame.jpg);
  position: absolute;
  width:301px;
  height:235px;
  top:-32px;
  left:110px;
  transform: translate(-32%, -5%);
}
.dark{
background-color: #000;
width: 320px;
height: 50px;
position: absolute;
opacity: 0.2;
}
.plate{
  background-image: url(../images/plate.png);
  position: absolute;
  width: 127px;
  height: 118px;
}
.cta{
  background-image: url(../images/cta.png);
  position: absolute;
  width: 58px;
  height: 19px;
  top: 16px;
  left: 217px;
}
/* sets up main stage clickable area */
#hit{
  background-color: transparent;
  cursor: pointer;
}
