@import 'normalize.scss';
@import '_variables.scss';
@import '_droga-colors.scss';

.warning {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}


html {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $dark-blue;
    background: url('../images/Textures_Wave4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 100%;
    height: 6em;
    margin: 0;
    margin-bottom: 40px;
    padding: 15px;
    
    background: $coolGray4;
    color: white;
    
    .header-logo {
        width: 120px;
        height:90%;
        background: url("../images/logo.svg") no-repeat;
        background-size: contain;
        margin: auto;
    }

    .header-clientname {
        flex: 1;
        text-align: right;
        font-size: 2rem;
    }
}


.wrapper {
  flex: 1;
  margin: auto;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  .project-name {
    text-align: center;
  }
}


.tableholder {
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    line-height: 2;
    color: $coolGray4;
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table,
    td {
        border: 1px solid $coolGray3;
    }

    th,
    td {
        padding: 5px 10px;
        text-align: left; 
    }

    tbody tr:nth-child(even) {
        background-color: $coolGray2;
    }

    tbody tr:nth-child(odd) {
        background-color: white;
    }
    
    .backup-thumbnail {
      text-align: center;

      img {
          width: 100%;
          max-width: 100px;
      }

    }
    
    .concept-title {
        background-color: #4d4d4f;
        color: white;
    }

}



.footer {
    align-self: flex-end;
    height: 200px;
    width: 100%;
    background-color: $coolGray4;
    padding: 50px 0;
    text-align: center;


    .footer-logo {
        background: url("../images/logo.svg") no-repeat;
        width: 120px;
        height: 90px;
        margin: auto;
        background-size: contain;
    }
    
    .footer-caption {
        color: white;
        font-size: 0.7em;
    }
}



/* desktop */

@media (min-width: 768px) {
    .header-logo {
        width: 100px;
        height: 50px;
        top: 30px;
    }
    header h1 {
        font-size: 2.5em;
        line-height: 2.5;
        margin: 0;
    }
    .tableholder table {
        font-size: 1.2em;
        line-height: 2;
    }
    .tableholder th,
    td {
        padding: 10px 15px;
    }
}
