/* defaults */
*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* layout */
#wrapper {
  width: 160px;
  height: 600px;
  border: 1px solid #c5c5c5;
  background-color: #f4f4f4;
  overflow: hidden;
  cursor: pointer; }

#banner {
  width: 160px;
  height: 600px;
  position: relative;
  visibility: hidden;
  overflow: hidden; }

#logo {
  visibility: hidden; }

.droidBot {
  opacity: 1; }

.arm {
  -ms-transform-origin: 12px 10px;
  -webkit-transform-origin: 12px 10px;
  transform-origin: 12px 10px; }

  /* dots */
  #dots {
    position: absolute;
    left: 62px;
    top: 20px;
    z-index: 5; }
    #dots div {
      height: 5px;
      width: 5px;
      top: 5px;
      border-radius: 5px;
      visibility: hidden;
      position: absolute; }

  #blue {
    background-color: #0086f8;
    left: 0px; }

  #red {
    background-color: #ff4131;
    left: 10px; }

  #yellow {
    background-color: #ffbc00;
    left: 20px; }

  #green {
    background-color: #00aa4a;
    left: 30px; }

/* headlines */
#headline1 {
  position: absolute;
  left: 16px;
  top: 72px;
  background: url("text1.svg") no-repeat;
  background-size: cover;
  width: 130px;
  height: 52px; }

#headline2 {
  position: absolute;
  left: 3px;
  top: 51.3px;
  background: url("text2.svg") no-repeat;
  background-size: cover;
  width: 150px;
  height: 53px; }

/* cards */
.phone-container {
  position: absolute;
  width: 160px;
  height: 600px;
  left: 0;
  top: 0; }

.phone {
  background: url("phone.png") no-repeat;
  width: 152px;
  height: 256px;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 248.5px;
  z-index: 2; }

.cards-container {
  position: absolute;
  width: 160px;
  height: 600px;
  z-index: 10;
  transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0); }
  .cards-container img,
  .cards-container .shadow,
  .cards-container .fx {
    position: absolute;
    visibility: hidden; }

.card {
  padding: 0;
  position: absolute;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0);
  left: 0;
  top: 0; }

#card1Shadow {
  position: absolute;
  z-index: 14;
  background: url("card1-shadow.png") no-repeat;
  background-size: cover;
  width: 152px;
  height: 256px;
  opacity: 0.5;
  visibility: hidden; }

.card1 {
  z-index: 15;
  background: url("card1.png") no-repeat;
  background-size: cover;
  width: 150px;
  height: 228px; }

#card1Fx {
  position: absolute;
  background: url("card1-fx.png") no-repeat;
  background-size: cover;
  width: 150px;
  height: 228px; }

.card2 {
  z-index: 16;
  background: url("card2.png") no-repeat;
  background-size: cover;
  width: 150px;
  height: 138px; }

#card2Fx {
  position: absolute;
  background: url("card2-fx.png") no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  width: 145.5px;
  height: 134.5px; }

.card3 {
  z-index: 17;
  background: url("card3.png") no-repeat;
  background-size: cover;
  width: 129px;
  height: 101px; }

#cta-container {
  position: absolute;
  top: 120px;
  left: 33px;
  visibility: hidden;
  z-index: 180; }

#ctaSVG {
  position: absolute;
  z-index: 15; }

#ctaBox {
  position: absolute;
  width: 92px;
  height: 26px;
  background-color: #79c259;
  z-index: 12; }

#logo {
  z-index: 50; }

#andy {
  position: absolute;
  left: 0;
  top: 0; }

:focus {
  outline: none; }

::-mos-focus-inner {
  border: 0; }

.ref{
background-image: url(ref.jpg);
width: 160px;
height: 600px;
opacity: .5;
position: absolute;
}
